.timer {
  margin-top: -20em;
  position: relative;

  .footer {
    display: flex;
    justify-content: center;

    .timerButtonPanel {
      position: relative;
      width: 50%;
      min-width: 10em;

      .timerButton {
        padding: 0.25em 0.5em;
        position: absolute;
        cursor: pointer;
        transition: transform 0.2s;

        &:hover {
          transform: scale(1.1);
        }
      }

      .resetButton {
        right: 0;
      }

      .actionButton {
        left: 0;
      }
    }
  }
}

.addTime {
  position: absolute;
  right: 0;
  margin-top: 5em;

  input {
    width: 50%;
    max-width: 10em;
  }

  button, input {
    margin: 0 0 0 auto;
    min-width: 8em;
  }

  button {
    padding: 0.5em;
  }

  .addTimeInput {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .hideAddSecondsInput {
    display: none;
  }
}

.timerDisplay {
  display: flex;
  justify-content: center;
  font-size: 4em;

  .timerDisplayUnit {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    width: 1.5em;
  }

  .timeSeparator {
    align-self: flex-end;
    padding-bottom: 0.5em;
  }

  .value, .unit {
    text-align: center;
  }
}

@container (min-width: 45em) {
  .timerButton {
    font-size: 1.5em;
  }

  .addTime {
    input {
      font-size: 2em;
    }

    button {
      font-size: 1.1em;
    }
  }
}

@container (max-width: 45em) {
  .timerDisplay {
    font-size: 3em;
  }

  .timerButton {
    font-size: 1.25em;
  }

  .addTime {
    margin-top: 4em;

    input {
      font-size: 1.75em;
    }
  }
}

@container (max-width: 35em) {
  .timerDisplay {
    font-size: 2em;
  }

  .timerButton {
    font-size: 1.1em;
  }

  .addTime {
    margin-top: 4em;

    button {
      padding: 0.25em;
      min-width: 6em;
    }

    input {
      font-size: 1.5em;
    }
  }
}

@container (max-width: 24em) {
  .timerDisplay {
    font-size: 1.25em;
  }

  .timerButton {
    font-size: 1em;
  }

  .addTime {
    margin-top: 3.5em;
    input {
      font-size: 1.25em;
    }
  }
}
